<!DOCTYPE html>
<html>

  {% include head.html %}

  <body ng-app="ngModule" ng-controller="ngController" ng-cloak>

  <div>
    <div class="site-wrapper">
      <div class="site-header-text">
        {% include header.html %}
      </div>

      <div class="site-content">
        <div class="inner-body">
          <div class="body-content">
            {{ content }}
          </div>
        </div>
      </div>

      <div class="site-footer">
        {% include footer.html %}
      </div>

    </div>
  </div>

  </body>

</html>
